# node_modules 
node_modules
src/node_modules
npm-debug.log*

# Git
.git
.gitignore

# CI/CD & IaC 
.github
terraform

# Env files 
.env
.env.*
.aws

# Test & coverage output
coverage
.coverage
.coverage.*
.nyc_output

# Docs
*.md